/* GLOBAL --------------------------------------------------------------------*/
:root { 
    /* COLORS */
    --c-void: #0E0B16; 
    --c-darkervoid: #020105b7;
    --c-lightervoid: #140f22b7;
    --c-fushia: #A239CA; 
    --c-jewel: #4717F6; 
    --c-stark: #E7DFFD; 
    --c-stark-trans: #e7dffd87;
    --c-bg-red: #ff00007b;
    --c-bg-blue: #0800ff7b;
}

.bp-gradient { 
    background: -webkit-linear-gradient(45deg, var(--c-fushia), var(--c-jewel));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.def-pos { margin: 0px; padding: 0px; }
/* MAIN --------------------------------------------------------------------*/
body { 
    background: var(--c-void);
    margin: 0px; 
    padding: 0px;
}

.font {
    font-family: Roboto;
    font-size: 15px;
    color: var(--c-stark)
}

.container {
    margin: 0px; 
    padding: 0px;
}

.flex { 
    display: flex; 
}
/* NAVBAR --------------------------------------------------------------------*/
.navbar { 
    --navbar-padding-y: 0rem;
    --navbar-padding-x: 2rem; 

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--navbar-padding-y) var(--navbar-padding-x);
    background-color: var(--c-darkervoid);
    border-bottom: 0.1px solid var(--c-stark-trans); 
}

.navbar > ul { 
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    list-style: none;

    margin: 0px;
    padding: 0px;
    gap: 2.5rem;
}

.navbar > ul > li { 
    color: var(--c-stark);
}

.navbar > p { 
    color: var(--c-stark);
}

/* HEADER --------------------------------------------------------------------*/
.header { 
    margin: 10% 10% 0% 10%;
}

.header > .container { 
    height: 50vw;
}

.header-text { 
    padding-top: 50px;
}

.header-subtext { 
    color: var(--c-stark-trans);
    font-size: 9px;
}

#header-hello { font-size: 50px; }
#header-content { width: 40vw; } 
#profile-img { position: absolute; left: 45%; height: 50vw; } 

/* ABOUT --------------------------------------------------------------------*/

.about { 
    background: var(--c-lightervoid)
}

.about-thing { 
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0% 25% 0% 25%;
}

.about-thing { 
    text-align: center;
}