/* GLOBAL --------------------------------------------------------------------*/

body { 
    background: #1a202c;
    margin: 0px
}

.font {
    font-family: Roboto;
    font-size: 15px;
}

/* NAVBAR --------------------------------------------------------------------*/
.navbar { 
    --navbar-padding-y: 0rem;
    --navbar-padding-x: 2rem; 
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--navbar-padding-y) var(--navbar-padding-x);
    background-color: #00CCFF;
    opacity: 0.5;
    filter: blur(0.5)
}

.navbar > p { 

}

.navbar > ul { 

    list-style-type: none;
    display: flex; 
    flex-direction: row;
    list-style: none;

    margin: 0px;
    padding: 0px;
    gap: 0.5rem;
}
